.hidden {
  display: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  filter: brightness(50%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
  color: white;
}

input::-ms-input-placeholder {
  color: white;
}
input::-webkit-input-placeholder {
  color: white;
}
input::-moz-placeholder {
  color: white;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: black;
  opacity: 60%;
  color: white;
}

#logout {
  cursor: pointer;
  font-size: 20px;
  opacity: 60%;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
}

#logout:hover {
  background-color: black;
  opacity: 60%;
  color: white;
}

#login-form {
  font-size: 20px;
  text-align: center;
}

.login-input {
  /* width: 220px; */
  background-color: transparent;
  border: none;
  border-bottom: 2.5px solid;
  outline: none;
  color: white;
  font-size: 25px;
  text-align: center;
}

.loginBtn {
  cursor: pointer;
  font-size: 20px;
  opacity: 60%;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
}

.loginBtn:hover {
  background-color: black;
  opacity: 60%;
  color: white;
}

#ddayOutput {
  margin-top: 20px;
  color: white;
  opacity: 70%;
}
.ddaytimer {
  font-size: 40px;
  font-weight: bold;
}
.memoryDday {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#timer-form {
  margin-top: 10px;
  height: 25px;
  text-align: center;
  font-size: 30px;
  color: white;
  opacity: 70%;
}

#timer-form input {
  background-color: transparent;
  border: none;
  border-bottom: 2.5px solid;
  outline: none;
  color: white;
  font-size: 22px;
  text-align: center;
}

.timerBtn {
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
  opacity: 60%;
  width: 120px;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
}

#resetBtn {
  margin-top: 30px;
  cursor: pointer;
  font-size: 20px;
  opacity: 60%;
  height: 25px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
}

#resetBtn:hover {
  background-color: black;
  opacity: 60%;
  color: white;
}

#todo-form {
  text-align: center;
  font-size: 15px;
  color: white;
  opacity: 60%;
}

#todo-form input {
  margin-top: 20px;
  text-align: center;
  width: 330px;
  background-color: transparent;
  border: none;
  border-bottom: 2.5px solid;
  outline: none;
  color: white;
  font-size: 23px;
}

#todo-list {
  line-height: 1.6;
  margin-top: 30px;
  text-align: start;
  font-size: 23px;
  color: white;
  opacity: 60%;
  margin-left: 30px;
  height: 70vh;
  overflow-y: auto;
}

#checkbox {
  cursor: pointer;
}

.checked {
  text-decoration-line: line-through;
  text-decoration-color: greenyellow;
  text-decoration-thickness: 3px;
}

#deleteBtn {
  cursor: pointer;
}

#deleteBtn:hover {
  cursor: pointer;
  border: none;
}

#todo-list input {
  cursor: pointer;
}

#login-form {
  text-align: center;
  font-size: 20px;
  color: white;
  opacity: 60%;
}

#greeting {
  font-size: 30px;
  color: white;
  opacity: 60%;
}

#clock {
  font-size: 90px;
  color: white;
  opacity: 60%;
}

#today {
  font-size: 42px;
  color: white;
  opacity: 60%;
  font-weight: bold;
}

#quote {
  margin-top: 180px;
  padding: 0px 20px;
  font-size: 20px;
  color: white;
  opacity: 80%;
  line-height: 1.7;
  line-break: strict;
  max-height: 360px;
  overflow-y: auto;
}

#quoteBtn {
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
  opacity: 60%;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
}

#quoteBtn:hover {
  background-color: black;
  opacity: 60%;
  color: white;
}

#weather {
  font-size: 25px;
  font-weight: bold;
  color: white;
  opacity: 60%;
}

.contents {
  width: 90%;
  margin: 50px auto;
  height: 840px;
  display: flex;
}

.gridA {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 20px;
  flex: 1;
  width: 30%;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
}

.gridB {
  background-color: transparent;
  padding: 20px;
  flex: 1;
  margin: 0px 5%;
  width: 30%;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
}

.gridC {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 20px;
  flex: 1;
  width: 30%;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
}
